*{margin:0px;
  padding:0px;
   outline:0;
   box-sizing: border-box;
 }
 ::-webkit-input-placeholder {
   text-align: center;
 }
 
 ::-webkit-scrollbar {
   width: 4px;
 }
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #888;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }
 
 
 
 :-moz-placeholder {
   /* Firefox 18- */
   text-align: center;
 }
 
 ::-moz-placeholder {
   /* Firefox 19+ */
   text-align: center;
 }
 
 :-ms-input-placeholder {
   text-align: center;
 }
 
 textarea{
   resize: vertical;
 }
 body{
   /* border:1px solid black; */
   /* margin:2px; */
   padding:2px;
   height:274px;
   width:600px;

 }
 .container{
   width:100%;
 }
 
 .box1{
   position:relative;
   box-sizing: border-box;
   width: 28%;
   float: left;
 /*   background-color:yellow; */
   /* height:328px; */
 }
 .box1 input{
 /*   padding:px; */
   margin-top:2px;
 }
 .box2{
   position:relative;
   margin-left:0.4%;
   top:0px;
   float:right;
   margin-top:2px;
 /*   padding:1px; */
   box-sizing: border-box;
   width: 71.6%;
 /*   background-color:green; */
   /* height:328px; */
 }
 
 
 /* for border to all content items */
 #topic,#data,#schbtn,#updbtn,#delbtn,#codebtn,#mybtn,#alltopicbtn,#chat,#chatbtn,#alltopicdiv,#readkey{
    border: 1px solid #b9cfb6;
   border-radius: 5px;
 }
 
 #topic:focus,#data:focus,#chat:focus{
   border:1px solid black;
 }
 
 #topic{
    padding:5px;
   width: 100%;
   height: 20px;
   text-align: left;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
 }
 #data {
   padding: 2px 5px;
   min-height:20px;
   text-align: left;
   width: 100%;
   height: 200px;
   max-height:350px;
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
 }
 #readkey:hover,
 #readkey:focus,
 #alltopicbtn:hover,
 #alltopicbtn:focus,
 #mybtn:hover,
 #mybtn:focus,
 #chatbtn:hover,
 #chatbtn:focus,
 #schbtn:hover,
 #updbtn:focus,
 #updbtn:hover,
 #delbtn:focus,
 #delbtn:hover,
 #schbtn:focus,
 #codebtn:hover,
 #codebtn:focus {
   background-color: #cee346;
 }
 
input:active{
  transform: scale(0.98); 

}

 #mybtn,#schbtn,#codebtn,#updbtn,#delbtn,#alltopicbtn{
   height:20px;
   width:100%;
 }
 #div_ste {
   margin-top:-1px;
   height: 20px;
   border-radius: 5px;
   border: 1px solid #b9cfb6;
   width: 100%;
   text-align: center;
   background-color: #efefef;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 #chat_container{
   width:100%;
   margin-top:2px;
 }
 #chat{
   z-index:0;
    min-height:20px;
   padding:1px 5px;
   text-align:left;
/*    float:left; */
   width:100%;
   /* margin-bottom: 2px; */
   max-height: 300px;
 }
 #chatbtn{
/*    margin-left:1.5%; */
   width:100%;
   height:34px;
/*    float:right; */
   display:block;
   margin-bottom: 2px;
 }
 #alltopicdiv{
   /* align-items: right; */
   text-align: center;
   padding:2px 0px;
   margin-top:2px;
   height:104px;
   margin-bottom:2px;
   overflow: auto;
   overflow-x:hidden;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
#tmpdiv{
  text-align:center;
  font-size:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ste{
  font-weight: bold;
}

#head{
  font-size: 18px;
}
#readkey{
  padding:1px 3px;
  
}
#chat_box1{
  float:left;
  width:100%;
}
#chat_box2{
  display:none;
  float:right;
  width:9.5%;
}
#chat_time,#data_time{
  user-select:none;
  opacity:0.6;
  position:relative;
  font-size:10.5px;
  margin-top:-18px;
  margin-right:14px;
  font-weight: 400;
  font-style: oblique;
  float:right;
}
#wrapper{
/*   display:none; */
  overflow:auto;
  max-height:70%;
  padding-left:5px;
/*   text-transform: capitalize; */
  font-size:12px;
  background-color:white;
  width:100%;
  text-align:left;
  position:absolute;
}
#wrapper li:hover{
  background-color:#efefef;
}